@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #E5E7E9;
}


/*header*/

header {
    margin: 0;
    left: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

i {
    color: #1F618D;
}


/*.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}*/

p.headertext {
    margin: 0;
    color: #1F618D;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


/*Text*/

h1 {
    margin-top: 100px;
    text-align: center;
    color: black;
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: black;
}

a h2:hover {
    color: purple;
}

main {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 60px 60px 80px;
}

.image {
    width: 650px;
    height: 460px;
    transition: 0.5s ease;
    display: block;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.accueil {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.accueil p {
    margin-left: 50px;
    width: 700px;
}

.videocinema {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fullscreen-video {
    width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.image6 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image2 {
    width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.image4 {
    width: 700px;
    height: 500px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.image7 {
    display: flex;
    justify-content: space-around;
    margin: 100px 70px 0px 70px;
}

.maquette {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagemaquette {
    width: 1200px;
    height: 100%;
}

.imagemaquette1 {
    width: 400px;
    height: 100%;
}

.imagemaquette1:hover {
    background-image: url(image/accueilweb.png);
    width: 400px;
    height: 100%;
}

.imagemaquette-phone {
    width: 250px;
    height: 100%;
}

.image9 {
    width: 400px;
    height: 3000px;
}

.image1 {
    width: 400px;
    height: 250px;
}


/* Apparition overlay sur passage souris */

.presentation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 100px 70px 0 70px;
}

.presentationtext {
    width: 700px;
    margin-top: 50px;
}

.presentationimage {
    width: 600px;
    height: 450px;
    object-fit: contain;
    margin: 10px 50px 10px 50px;
}

.presentation p {
    text-align: justify;
}


/*Effet sur image*/

.element {
    position: relative;
    width: 650px;
    margin: auto;
    height: auto;
}

.overlay {
    position: absolute;
    transition: 0.5s;
    background-color: rgb(31, 97, 141, 0.7);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
}

.text {
    position: absolute;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    top: 50%;
    left: 30%;
    text-align: center;
    opacity: 0;
}

.element:hover .overlay {
    opacity: 1;
}

.element:hover .text {
    opacity: 1;
}


/*Bouton Popup*/

.btnPopup {
    background-color: #1F618D;
    padding: 1em 1em;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    color: white;
    cursor: pointer;
}

.btnPopup:hover {
    background-color: teal;
}

.overlay1 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    justify-content: space-around;
}

.popup {
    margin: 5% auto;
    width: 60%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
}

.btnClose {
    cursor: pointer;
}

.image11 {
    margin-top: 10px;
    width: 500px;
    height: 1700px;
}

.image12 {
    margin-top: 10px;
    width: 500px;
    height: 2000px;
}

.image13 {
    margin-top: 10px;
    width: 500px;
    height: 700px;
}

.image14 {
    margin-top: 10px;
    width: 550px;
    height: 100%;
}

.siteweb {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-around;
}

.bouton {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.explication {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
}

.textresume {
    display: flex;
    justify-content: center;
    margin: 50px 10px 50px 10px;
}

.textresume p {
    text-align: justify;
    width: 800px;
}

.partie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.textresume2 {
    display: flex;
    justify-content: center;
    margin: 50px 10px 50px 10px;
}

.textresume2 p {
    text-align: justify;
    width: 950px;
}