@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Staatliches&display=swap');

/*src7*/

body {
    margin: 0;
    width: auto;
    background-color: rgb(250, 250, 250);
}

main {
    margin: 0;
    left: 0;
    padding: 0;
}

header {
    margin: 0;
    left: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
}


/*header*/

i {
    color: inherit;
}

i.fab.fa-youtube {
    color: black;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 10px;
    position: fixed;
    z-index: 10;
}

.menu a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    margin: 5px 50px 0px 0px;
    font-size: 1.2em;
}

.navup {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.logonav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.logonav i {
    font-size: 1.4em;
}

.titre {
    margin: 100px 10px;
}

.textaccueil h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 5em;
    margin: 0;
}

.textaccueil h2 {
    font-size: 2em;
}

.accueilback {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.backgrounddesk {
    object-fit: cover;
    width: 100%;
}

.backgroundmobile {
    display: none;
}

.textaccueil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    margin-top: 200px;
}

.box span {
    width: 20px;
    height: 20px;
    display: block;
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(10px, 10px);
    }
    100% {
        opacity: 0;
    }
}


/*Text*/

h1 {
    text-align: center;
    color: black;
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 2.5em;
    margin: 0;
}

h2.index {
    margin-top: 9px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

p {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

a:hover {
    color: rgb(255, 163, 87);
}

.textexplicatif {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 25px 15px 40px 15px;
}

.textexplicatif p {
    text-align: center;
    width: 60%;
}


/*Index*/

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 10px;
}

.container1 {
    width: 47%;
    height: 100%;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.image {
    object-fit: contain;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    transform: scale(1);
    will-change: transform;
    border-radius: 10px;
}

.container1:hover .image {
    transform: scale(1.1);
}


/* Index Hover : Effet sur image*/

.element {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
}

.container1:last-child {
    align-items: center;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
}

.text {
    position: absolute;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    opacity: 0;
}

.element:hover .overlay {
    opacity: 1;
}

.element:hover .text {
    opacity: 1;
}


/*Index

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

.container1 {
    width: 45%;
    height: auto;
}

.image {
    object-fit: contain;
    margin: 0;
    width: 100%;
    height: 100%;
}*/


/* Index Hover : Effet sur image

.element {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    height: auto;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
}

.text {
    position: absolute;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    opacity: 0;
}

.element:hover .overlay {
    opacity: 1;
}

.element:hover .text {
    opacity: 1;
}*/


/*Site Cinéma et Voyage*/

.partie {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
}

.mission {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 100px;
    margin: auto;
}

.missionpresentation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.missionimage {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.missiontext {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: 15px 0px;
}

.infos {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.videocinemaMission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    margin-bottom: 20px;
}

.siteweb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 93%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.image11 {
    margin-top: 10px;
    width: 30%;
    height: 100%;
}

.imagemdm {
    margin-top: 10px;
    width: 23%;
    height: 100%;
}

.imagecinema {
    width: 90%;
    height: auto;
    margin-top: 15px;
    padding: 0;
    object-fit: contain;
}


/*Cover d'album*/

.imagecover {
    width: 30%;
    height: auto;
    margin-top: 15px;
    padding: 0;
    object-fit: contain;
}

.containercover {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
    margin: 100px 30px 10px 30px;
}


/*A propos*/

.presentation {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: 100px 70px 100px 70px;
}


/*.presentationtext {
    width: 50%;
    margin-top: 50px;
}*/

.pres1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: left;
    font-size: 1.2em;
    align-items: center;
}

.infocomp {
    display: flex;
    justify-content: space-between;
}

.competence {
    display: flex;
}

.presentationtext {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.presentationimage {
    width: 30%;
    height: auto;
    object-fit: contain;
    margin: 10px 50px 10px 50px;
}

.presentation p {
    text-align: left;
    font-size: 1.2em;
}


/*Vidéos*/

.videocinema {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.fullscreen-video {
    width: 100%;
    height: auto;
    padding: 0;
    object-fit: contain;
    margin: auto;
    display: flex;
    justify-content: center;
}

.videocinema1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.fullscreen-video1 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
}


/*footer*/

.lien {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    padding-top: 20px;
}

.lien a {
    font-size: 1.3em;
    color: rgb(250, 250, 250);
    margin: 5px;
}

.colonne {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.colonnedouble {
    display: flex;
}

.colonnedouble .colonne {
    margin: 10px;
}

.ligne {
    width: 5px;
    border-left: 1px solid rgb(255, 253, 253);
    height: 80%;
    margin: auto;
}

.lignefooter {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid rgb(255, 253, 253);
}

.textfooter p {
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 10px 0;
}

.CV {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background: none;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 5px 25px;
    font-size: 1em;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}

.btn:hover {
    background-color: rgba(250, 250, 250);
    cursor: pointer;
}

.btn::before {
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    position: absolute;
    transition: 0.5s all ease;
    opacity: 0;
    content: "";
    background-color: rgb(255, 163, 87);
}

.btn:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.title {
    text-align: left;
    font-size: 2em;
}

.icon {
    width: 4%
}


/*Carrousel*/

.tns-controls {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 40px 0px;
}

.tns-controls.button {
    background-color: #E06615;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.3em;
    color: #fff;
}

.tns-outer {
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 30px;
}

.tns-nav {
    display: flex;
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

.tns-nav-active {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.tns-nav .button {
    width: 8px;
    height: 24px;
    border-radius: 12px;
    border: none;
    margin: 5px;
    background-color: #B7C4D6;
}


/*Version tablette */

@media all and (max-width:1250px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.6em;
    }
    p {
        font-size: 0.9em;
    }
    .text {
        font-size: 1em;
    }
    .textexplicatif p {
        width: 70%;
    }
    .presentation {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 60px 10px 0 10px;
    }
    .presentationtext {
        width: 90%;
        margin-top: 50px;
    }
    .presentationimage {
        width: 45%;
        height: auto;
        object-fit: contain;
        margin: 10px;
    }
    .presentation p {
        font-size: 1em;
    }
    .wrapper {
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 90%;
    }
    .container1 {
        width: 85%;
        height: auto;
        margin: 10px 0px;
    }
    .videocinema {
        width: 60%;
        height: 70%;
    }
    .fullscreen-video {
        width: 70%;
    }
    .partie {
        flex-direction: column;
    }
    .textaccueil h1 {
        font-size: 4em;
    }
    .textaccueil h2 {
        font-size: 2em;
    }
    .mission {
        flex-direction: column;
    }
    .missionimage {
        width: 80%;
        margin-bottom: 10px;
    }
    .titre {
        margin: 100px 0 0 20px;
    }
}


/*Version téléphone */

@media all and (max-width:800px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .container1 {
        width: 100%;
        height: auto;
        margin: 5px 0px;
    }
    h1 {
        font-size: 1.5em;
        margin: 0 5px;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.7em;
    }
    .textexplicatif p {
        width: 100%;
    }
    .siteweb {
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }
    .image11 {
        width: 90%;
        height: 100%;
        margin-top: 30px;
    }
    .imagemdm {
        width: 70%;
        height: 100%;
        margin-top: 20px;
    }
    .containercover {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60px 20px 10px 20px;
    }
    .imagecover {
        width: 80%;
    }
    .presentationimage {
        width: 70%;
        height: auto;
        object-fit: contain;
        margin: 10px;
    }
    .presentationtext {
        width: 90%;
    }
    .presentation {
        margin: 20px 10px 0 10px;
    }
    p.headertext {
        font-size: 0.9em;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .navup {
        display: flex;
        flex-direction: row;
    }
    .menu a {
        font-size: 0.9em;
    }
    .lien {
        flex-direction: column;
    }
    .lien a {
        font-size: 0.9em;
    }
    .videocinema {
        width: 80%;
        height: 70%;
    }
    .fullscreen-video {
        width: 100%;
    }
    .videocinema1 {
        width: 80%;
        height: 70%;
    }
    .infocomp {
        flex-direction: column;
    }
    .presentation {
        margin: 0;
    }
    .titre {
        margin: 100px 0 0 0;
    }
    .pres1 {
        font-size: 1em;
        margin: 10px 0;
    }
    h2.title {
        font-size: 1.3em;
        font-weight: 800;
    }
    .textaccueil h1 {
        font-size: 2em;
    }
    .textaccueil h2 {
        font-size: 1.5em;
    }
    .backgrounddesk {
        display: none;
    }
    .backgroundmobile {
        object-fit: cover;
        width: 100%;
        display: block;
    }
    .colonnedouble {
        flex-direction: column;
    }
}